# California Arson Data

Import and preprocess California demographic data.

Arson â€“ any willful or malicious burning or attempt to burn, with or without intent to defraud, a dwelling house, public building, motor vehicle or aircraft, personal property of another, etc. (UCR definition).

Contains the following fields by county by year from 1985 to 2019:
 * Arson: Number of Structural Properties
 * Arson: Number of Mobile Properties
 * Arson: Number of Other Properties
 * Number of Arsons
 * Number of Arsons Cleared
 
Columns: ['Year', 'County', 'NCICCode', 'TotalStructural_sum', 'TotalMobile_sum',
       'TotalOther_sum', 'GrandTotal_sum', 'GrandTotClr_sum']

In [3]:
import pandas as pd
import numpy as np

In [6]:
#Import the data
gitdir = 'C:\\Users\jades\\1001 Intro to Data Science Notebooks\\Project\\wildfires-1001\\'
subdir = 'data\\raw_data\\arson_crimes\\'
filename = 'arson_typed.csv'

df = pd.read_csv(gitdir + subdir + filename)

In [7]:
#df.head()

,Year,County,NCICCode,TotalStructural_sum,TotalMobile_sum,TotalOther_sum,GrandTotal_sum,GrandTotClr_sum
0,1985,Alameda County,Alameda Co. Sheriff's Department,22,6,3,31,11
1,1985,Alameda County,Alameda,23,4,5,32,7
2,1985,Alameda County,Albany,2,0,0,2,1
3,1985,Alameda County,Berkeley,72,23,5,100,20
4,1985,Alameda County,Emeryville,0,1,0,1,0